/* Add space for traffic lights */

/* Main window */
#gb {
  padding-left: 60px;
}

/* Email viewer */
body.xE .G-atb,
/* Compose window */
.Io {
  padding-left: 85px !important;
}

/* PDF viewier */
.aLF-aPX-aPU-J6 {
  margin-left: 75px;
}
