/**
  * Remove unnecessary elements
  * ===========================
  */

/* Header: Gmail logo */
.gb_oc,
/* Header: Support */
.zo,
/* Header: Google apps */
.gb_Pc,
/* Header: Google logo (Google Workspace) */
.gb_la,
/* Footer */
.aeG {
  display: none !important;
}

/**
  * Adjustments
  * ===========
  */

/* Header: Account */
.gb_i {
  width: initial !important;
  border: none !important;
}

.gb_Mf {
  padding-left: 2px !important;
}
