/* Header: Drag Region */
.compactHeader header {
  -webkit-app-region: drag;
}

.compactHeader .gb_vc,
.compactHeader form[role='search'],
.compactHeader .gb_qe,
.compactHeader .gb_Oc,
.compactHeader .gb_ja {
  -webkit-app-region: no-drag;
}

/* Header: Burger Menu */
.compactHeader .gb_Xc {
  min-width: auto !important;
  margin-left: 70px !important;
  padding-right: 128px !important;
}
