/* Header: Drag Region */
.compactHeader header {
  -webkit-app-region: drag;
}

/* Header: Burger Menu */
.compactHeader header > div:nth-child(2) > div:first-of-type > div:first-of-type,
/* Header: Search */
.compactHeader form,
/* Header: Support */
.compactHeader header > div:nth-child(2) > div:nth-child(2) > div:last-of-type > a:first-of-type,
.compactHeader header > div:nth-child(2) > div:nth-child(2) > div:last-of-type > div:first-of-type,
/* Header: Settings */
.compactHeader header > div:nth-child(2) > div:nth-child(2) > div:last-of-type > div:last-of-type,
/* Header: Account */
.compactHeader header div[href*='accounts.google.com'] {
  -webkit-app-region: no-drag;
}

/* Header: Burger Menu */
.compactHeader header > div:nth-child(2) > div:first-of-type {
  min-width: auto !important;
  margin-left: 70px !important;
  padding-right: 128px !important;
}
