/**
  * Remove unnecessary elements
  * ===========================
  */

/* Header: Gmail logo */
.compactHeader .gb_oc,
/* Header: Support */
.hideSupport .zo,
/* Header: Google apps */
.compactHeader .gb_Pc,
/* Header: Google logo (Google Workspace) */
.compactHeader .gb_la,
/* Footer */
.hideFooter .aeG {
  display: none !important;
}

/**
  * Adjustments
  * ===========
  */

/* Header: Account */
.compactHeader .gb_i {
  width: auto !important;
  border: none !important;
}

.compactHeader .gb_qa.gb_Se .gb_Oa.gb_cd {
  padding: 0 !important;
}

.compactHeader .gb_ja {
  max-height: none !important;
  border-radius: 50% !important;
  background-color: transparent !important;
}

.compactHeader .gb_ja:hover {
  background-color: rgb(60 64 67 / 8%) !important;
}

.compactHeader .gb_ja:focus {
  background-color: rgb(95 99 104 / 24%) !important;
  box-shadow: none !important;
}

.compactHeader .gb_Da:hover,
.compactHeader .gb_Da:focus {
  box-shadow: none !important;
}

.compactHeader .gb_Da {
  width: 26px !important;
  height: 26px !important;
}

.compactHeader a.gb_D {
  display: flex;
  align-items: center;
}

.compactHeader .gb_Oa .gb_D {
  padding: 7px !important;
}

/* Header */
.compactHeader .gb_Jd {
  height: 22px !important;
}

.compactHeader .gb_Xd {
  height: 22px !important;
}

/* Header: Burger Menu */
.compactHeader .gb_vc {
  padding: 4px !important;
}

/* Header: Search */
.compactHeader .gb_He {
  height: 22px !important;
  margin-top: -6px !important;
}

.compactHeader .gb_vf {
  height: 26px !important;
}

.compactHeader .gb_Ue button svg {
  margin: 0 !important;
  padding: 1px !important;
}

.compactHeader .gstt {
  height: 26px !important;
}

.compactHeader .gb_ff {
  font-size: 14px !important;
  position: initial !important;
  padding: 0 !important;
  height: 14px !important;
}
