/* Header: Drag Region */
.gmail-desktop_compact-header header {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

/* Header: Burger Menu */
.gmail-desktop_compact-header header > div:nth-child(2) > div:first-of-type > div:first-of-type,
/* Header: Search */
.gmail-desktop_compact-header form,
/* Header: Support */
.gmail-desktop_compact-header header > div:nth-child(2) > div:nth-child(2) > div:last-of-type > a:first-of-type,
.gmail-desktop_compact-header header > div:nth-child(2) > div:nth-child(2) > div:last-of-type > div:first-of-type,
/* Header: Settings */
.gmail-desktop_compact-header header > div:nth-child(2) > div:nth-child(2) > div:last-of-type > div:last-of-type,
/* Header: Account */
.gmail-desktop_compact-header header div[href*='accounts.google.com'] {
  -webkit-app-region: no-drag;
}

/* Header: Burger Menu */
.gmail-desktop_compact-header.gmail-desktop_burger-menu-offset
  header
  > div:nth-child(2)
  > div:first-of-type {
  min-width: auto !important;
  margin-left: 70px !important;
  padding-right: 128px !important;
}
