.urlPreview {
  position: absolute;
  left: 0;
  bottom: 0;
  max-width: 50%;
  padding: 6px;
  font-size: 0.75rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* Header: Gmail logo */
.compactHeader header > div:first-of-type > div:first-of-type > div:first-of-type > div:first-of-type,
.compactHeader header > div:nth-child(2) > div:first-of-type > div:nth-child(4),
/* Header: Support */
.compactHeader header > div:nth-child(2) > div:nth-child(2) > div:last-of-type > a:first-of-type,
.compactHeader header > div:nth-child(2) > div:nth-child(2) > div:last-of-type > div:first-of-type > a,
/* Header: Google apps */
.compactHeader header > div:nth-child(2) > div:nth-child(3) > div:first-of-type > div:first-of-type > div:first-of-type,
/* Header: Google logo (Google Workspace) */
.compactHeader header div[href*='accounts.google.com'] > div:first-of-type,
/* Footer */
.hideFooter div[role='contentinfo'] {
  display: none !important;
}

/* Header: Inner Containers */
.compactHeader header > div:nth-child(2) > div:first-of-type,
.compactHeader header > div:nth-child(2) > div:nth-child(2),
.compactHeader header > div:nth-child(2) > div:nth-child(3) {
  height: 22px !important;
}

/* Header: Burger Menu */
.compactHeader
  header
  > div:nth-child(2)
  > div:first-of-type
  > div:first-of-type {
  padding: 4px !important;
}

/* Header: Search */
.compactHeader header > div:nth-child(2) > div:nth-child(2) > div:nth-child(2) {
  height: 28px !important;
}

.compactHeader header form > div:nth-child(3) {
  height: 26px !important;
}

.compactHeader header form div table {
  height: 26px !important;
  font-size: 0.875rem !important;
}

.compactHeader header input {
  height: 26px !important;
  font-size: 0.875rem !important;
}

.compactHeader header form button {
  height: 26px !important;
}

.compactHeader header form button svg {
  padding: 1px !important;
  margin: 0 !important;
}

.compactHeader header form div table table td {
  padding: 0 !important;
  height: 26px !important;
}

.compactHeader header form input {
  position: initial !important;
  height: 26px !important;
}

/* Header: Settings */
.compactHeader
  header
  > div:nth-child(2)
  > div:nth-child(2)
  > div:last-of-type
  > div:last-of-type
  > a {
  padding: 4px !important;
  margin: 0 !important;
}

/* Header: Account */
.compactHeader header div[href*='accounts.google.com'] {
  width: auto !important;
  border: none !important;
  max-height: none !important;
  border-radius: 50% !important;
  background-color: transparent !important;
}

.compactHeader header div[href*='accounts.google.com']:hover {
  background-color: rgb(60 64 67 / 8%) !important;
}

.compactHeader header div[href*='accounts.google.com']:focus {
  background-color: rgb(95 99 104 / 24%) !important;
  box-shadow: none !important;
}

.compactHeader header div[href*='accounts.google.com'] > div:nth-child(2) {
  padding: 4px !important;
}

.compactHeader header div[href*='accounts.google.com'] a {
  padding: 0 !important;
  height: 26px !important;
  width: 26px !important;
}

.compactHeader header div[href*='accounts.google.com'] a img:hover,
.compactHeader header div[href*='accounts.google.com'] a img:focus {
  box-shadow: none !important;
}

.compactHeader header div[href*='accounts.google.com'] a img {
  width: 26px !important;
  height: 26px !important;
}

/* Labels */
.aEe,
.aEc.aHS-bnr .qj {
  -webkit-mask: url('https://www.gstatic.com/images/icons/material/system_gm_filled/1x/label_gm_grey_24dp.png')
    center/contain;
}

/* stylelint-disable media-feature-name-no-unknown */
@media (min-resolution: 144dpi), (min-device-pixel-ratio: 1.5) {
  .aEe,
  .aEc.aHS-bnr .qj {
    -webkit-mask: url('https://www.gstatic.com/images/icons/material/system_gm_filled/2x/label_gm_grey_24dp.png')
      center/contain;
  }
}
/* stylelint-enable media-feature-name-no-unknown */
