name: CI

on:
  push:
    branches:
      - 'master'
  pull_request:
    branches:
      - '**'

jobs:
  test:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - run: HOMEBREW_NO_AUTO_UPDATE=1 brew install rpm
      - run: yarn --frozen-lockfile
      - run: yarn lint
      - run: yarn build
      - uses: actions/upload-artifact@v2
        with:
          name: gmail-desktop-macos
          path: dist/*-mac.*
      - uses: actions/upload-artifact@v2
        with:
          name: gmail-desktop-linux
          path: dist/*-linux.*
      - uses: actions/upload-artifact@v2
        with:
          name: gmail-desktop-windows
          path: dist/*-win.*